@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-exo {
  font-family: 'Exo 2', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.place-label {
  color: white;
  background-color: black;
  padding: 5px;
  height: 100px;
  width: 100px;
  font-weight: bolder;
}
